<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <span>&#127819;</span><span class="lemon">Sitruunainen</span><span class="dark"> testiappi</span>
    </div>
    <div>
      <span class="dark">Azure &#128150; Node.js</span>
    </div>
    <div>
      <p>herranjestas, se toimii</p>
    </div>
  </body>
</html>
